<nav class="navbar nav-fill">
    <div class="navbar-header">
        <!-- <a href="#" class="navbar-brand">Sundog Coffee</a> -->
    <div class="collapse navbar-collapse">
        <ul class="nav nav-pills nav-fill">
            <li><a style="color: gray;" [routerLink]="''">Home</a></li>
            <li><a style="color: gray;" [routerLink]="'/about'">About</a></li>
            <li><a style="color: gray;" [routerLink]="'/blog'">Blog</a></li>
            <li><a style="color: gray;" [routerLink]="'/collection'">Collection</a></li>
            <li><a style="color: gray;" [routerLink]="'/coffee-match'">Find Your Coffee Match</a></li>
        </ul>
    </div>
    </div>
</nav>