@font-face {
  font-family: Fredoka;
  src: url(/assets/fonts/FredokaOne-Regular.ttf) format("opentype");
}

h3 {
  font-family: Fredoka;
  color: #767769;
}

hr {
    width: 75%;
    border-width: 7px;
    border-color: #FFDE59;
  }

  img {
    max-width: 90%;
  }