
    <div class="container">
    <h1 class="text-center">About Sundog Roasting Co.</h1><br>
    <div class="row text-center">
         <div class="col-md-6">
             <img src="/assets/images/profile.JPG" class="img-circle rounded-circle" width="350px">
         </div>
         <div class="col-md-6">
             <h3 class="text-center">What's with the name?</h3>
                 <p><strong>Sundog Coffee</strong> got it's name from a rare weather phenomenon. <br> It creates an optical 
                illusion where the sun seems to have doubled, or even tripled, with mock suns flanking the real one. These fake
                are said to "dog" the sun. Hence the name sun dogs. <br>So why is this relevant? <br>The owner and founder,
                <strong>Allison Barnett, </strong>has fond memories of the beautiful atmospheric phenomenon. She spent several
                months living in Patagonia while teaching English. Most mornings she'd enjoy a cup of coffee at dawn while
                watching the sun rise. <br>It was during this time she developed an appreciation for the sun dogs and coffee.
                So when she decided to start her own coffee company after moving back to the states, she knew exactly what
                to name it. <br>Allison's greatest passion is traveling, of which she still does often to find delicious new
                coffee beans. Her business has taken her all over the world, from Kenya to Hawaii. She hopes to create the 
                same magic for you that she used to feel watching the sun dogs over the Andes. Her goal is to create the perfect
                 cup of coffee for every person; and for every palette.</p>
                 <br><br>
         </div>
         <br>
         <hr>
         <br>
         <div>
             <h1 class="text-center">Come and visit!</h1><br>
             <img class="img-fluid" style="max-width: 75%; height: auto;"src="/assets/images/shop.png">
         </div>
         <br><br>
    </div>
 </div>