@font-face {
    font-family: Hitchcut;
    src: url(/assets/fonts/Hitchcut-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: Fredoka;
    src: url(/assets/fonts/FredokaOne-Regular.ttf) format("opentype");
  }

  h1{
      font-family: Hitchcut;
      color: #FBB57F;
  }

  h3 {
      font-family: Fredoka;
      color: #767769;
  }

.img-circle {
    border: 180%;
}

hr {
    width: 75%;
    border-width: 7px;
    border-color: #FFDE59;
  }

  p {
      text-align: left;
  }

  