<h1>South America</h1>
<br>
<div class="container">
	<div class="row">
        <div class="gallery">
            <figure><img src="/assets/images/sunlight.png"></figure>
            <figure><img src="/assets/images/rainbow.png"></figure>
            <figure><img src="/assets/images/aura.png"></figure>
            <figure><img src="/assets/images/dreamsicle.png"></figure>
            <figure><img src="/assets/images/halo.png"></figure>
            <figure><img src="/assets/images/donkey.png"></figure>
            <figure><img src="/assets/images/bourbon.png"></figure>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<h1>Africa</h1>
<br>
<div class="container">
	<div class="row">
        <div class="gallery">
            <figure><img src="/assets/images/parhelic-ring.png"></figure>
            <figure><img src="/assets/images/crystal.png"></figure>
            <figure><img src="/assets/images/heirloom.png"></figure>
            <figure><img src="/assets/images/nimbus.png"></figure>
            <figure><img src="/assets/images/kilimanjaro.png"></figure>
            <figure><img src="/assets/images/refraction.png"></figure>
            <figure><img src="/assets/images/icebow.png"></figure>
            <figure><img src="/assets/images/vapor.png"></figure>
            <figure><img src="/assets/images/daytime-star.png"></figure>
            <figure><img src="/assets/images/optical.png"></figure>
        </div>
    </div>
</div>
        
              











