
<div class="container">
<div class="row" style="border:none; background:white; height:210px;">
    <div class="col-xs-6">
        <img  src="assets/images/coca-cola.png" style="height:200px; margin-left:75px;" />
    </div>
    <div class="col-xs-6">  
        <h3>Fun Coffee News</h3>
        <p style="font-size:10px; margin-right: 200px; color:#03225C;">From cold brew to cereal to Coca Cola coffe,
        we've decided to update you on some fun coffee news from around the world!</p>
            <button class="btn">Read more</button>
    </div>
</div>
<br>
</div>
<div class="container">
    <div class="row" style="border:none; background:white; height:210px;">
        <div class="col-xs-6">
            <img  src="assets/images/k-cups.png" style="height:200px; margin-left:75px;" />
        </div>
        <div class="col-xs-6">  
            <h3>Why You Should Stop Using K-Cups</h3>
            <p style="font-size:10px; margin-right: 200px; color:#03225C;">It's no secret how terrible k-cups 
            are for the environment, but did you know how bad they were for your health?</p>
                <button class="btn">Read more</button>
        </div>
    </div>
    </div>
    <br>
<div class="container">
    <div class="row" style="border:none; background:white; height:210px;">
        <div class="col-xs-6">
            <img  src="assets/images/coffee-cake.png" style="height:200px; margin-left:75px;" />
        </div>
        <div class="col-xs-6">  
            <h3>Sundog Coffee Cake Recipe</h3>
            <p style="font-size:10px; margin-right: 200px; color:#03225C;">Everyone always talks about how great
                our homemade coffee cake is. So we figured we'd share the recipe with you! Make your own Sundog 
            original coffee cake at home. (Multiple flour options included!) </p>
                <button class="btn">Read more</button>
        </div>
    </div>
    </div>