@font-face {
  font-family: Fredoka;
  src: url(/assets/fonts/FredokaOne-Regular.ttf) format("opentype");
}

h3 {
  font-family: Fredoka;
  color: #767769;
}

.btn {
    background-color: #FBB57F;
  }