<div class="jumbotron">
<img src="/assets/images/sundogLogo.png" class="logo">
</div>
<div class="container">
    <div class="row mx-auto text-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-xs-4 center-block well col-md-auto just">
            <h3>Find Your Perfect Coffee Match!</h3>
            <a routerLink="/coffee-match"><button class="btn" 
                style="display:inline-block; vertical-align:bottom; float:none;">Go</button></a>
        </div>
        <div class="col-xs-4 col-md-auto">
            <img src="/assets/images/moondog.png" 
                class="img-responsive" 
                height="200px">
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>
<br>
<hr>
<br>
<h1>Featured Products</h1>
<br>
<div class="container">
    <div class="row mb-1">
                <div class="col-xs-4">
            <a href="/assets/images/seasonal-coffee.png">
                <img class="img-rounded" src="/assets/images/seasonal-coffee.png" style="width: 100%;">
            </a>
            </div>
        <div class="col-xs-4">
            <a href="/assets/images/flavored-blends.png">
                <img class="img-rounded" src="/assets/images/flavored-blends.png" style="width: 100%;">
            </a>
        </div>
            <div class="col-xs-4">
                <a href="/assets/images/new-mugs.png">
                    <img class="img-rounded" src="/assets/images/new-mugs.png" style="width: 100%;">
                </a>
            </div>
            <br>
    </div>
</div>


