@import url('https://fonts.googleapis.com/css?family=Average Sans'); 
h1{
  font-family: 'Average Sans';
  text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 20%;
}

.btn {
  background-color: #FBB57F;
  /* float: right; */
}

hr {
  width: 75%;
  border-width: 7px;
  border-color: #FFDE59;
}

.mb-1 {
  margin-bottom: 13px;
}

