<div class="jumbotron">
<img src="/assets/images/sundogLogo.png" class="logo">
</div>
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col-xs-4 center-block well col-md-auto">
            <h3>Find Your Perfect Coffee Match!</h3>
            <button class="btn" style="display:inline-block; vertical-align:bottom; float:none;">Go</button>
        </div>
        <div class="col-xs-4 col-md-auto">
            <img src="/assets/images/nimbus.png" 
                class="img-responsive" 
                width="250px">
        </div>
    </div>
</div>
<hr>
<h1>Featured Products</h1>
<br>
<div class="container">
    <div class="row img-rounded">
                <div class="col-xs-4">
            <a href="/assets/images/seasonal-coffee.png">
                <img src="/assets/images/seasonal-coffee.png" style="width: 100%;">
            </a>
            </div>
        <div class="col-xs-4">
            <a href="/assets/images/flavored-blends.png">
                <img src="/assets/images/flavored-blends.png" style="width: 100%;">
            </a>
        </div>
            <div class="col-xs-4">
                <a href="/assets/images/new-mugs.png">
                    <img src="/assets/images/new-mugs.png" style="width: 100%;">
                </a>
            </div>
    </div>
</div>


