@import url('https://fonts.googleapis.com/css?family=Average Sans'); 
h1{
  font-family: 'Average Sans';
  text-align: center;
}

#main {
    width: 60%;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    }
    
    #header {
    margin-top: 0;
    border: 2px solid black;
    padding: 5px;
    height: 150px;
    background-image: url("/assets/image/quiz-background.png") no-repeat center center;
    }
    
    label {
    width: 150px;
    display: inline-block;
    }
    
    button {
    display: block;
    margin-top: 20px;
    
    }