    
    <div id="main">
        <div id="header"><h1>Find the Best Coffee For You!</h1></div>
        <form #coffeeForm="ngForm" (ngSubmit)="onSubmit(coffeeForm)">
          <div class="form-group">
            <label
              >{{ quizQuestions[0] }}
              <div class="radio" *ngFor="let flavor of answerSetOne">
                <label>
                  <input type="radio" name="flavor" ngModel [value]="flavor.num" />
                  {{ flavor.name | titlecase}}
                </label>
              </div>
            </label>
          </div>
          <div class="form-group">
            <label
              >{{ quizQuestions[1] }}
              <div class="radio" *ngFor="let brewStyle of answerSetTwo">
                <label>
                  <input
                    type="radio"
                    name="brewStyle"
                    ngModel
                    [value]="brewStyle.num"
                  />
                  {{ brewStyle.name | titlecase }}
                </label>
              </div>
            </label>
          </div>
          <div class="form-group">
            <label
              >{{ quizQuestions[2] }}
              <div class="radio" *ngFor="let roast of answerSetThree">
                <label>
                  <input type="radio" name="roast" ngModel [value]="roast.num" />
                  {{ roast.name | titlecase }}
                </label>
              </div>
            </label>
          </div>
          <div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <br><br><br>
          <div class="col-xs-6 col-md-auto just">
           <h1>{{coffeeName}}</h1>
           <h3 style="vertical-align: bottom; display: inline; float: none;"
           >{{coffeeDesc | titlecase}}</h3>
          </div>
          <div class="img-responsive col-xs-6 col-md-auto" >
          <img height="340px"
          src={{coffeeImage}}>
          <br>
        </div>
        </div>
        </form>
      </div>
      <br><br>